<i ng-click="itemExpended(item, $event);" class="{{getItemIcon(item)}}"></i>

        <input id="{{item.id}},{{item.pid}}"  type="checkbox" ng-model="item.$$isChecked" class="check-box" ng-if="canChecked">


      <span class='text-field' ng-click="warpCallback('itemClicked', item, $event);" >{{item[textField]}}</span>
      <ul ng-if="!isLeaf(item)"
          ng-show="item.$$isExpend">
          <li ng-repeat="item in item.children" ng-include="itemTemplateUrl || '/GCourse/html/treeItem.html'">
          </li>
      </ul>